<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar</title>
</head>

<body>  
    <div class="row">
        <div class="col-8 mauto pt-2 pb-2 text-center">
            <h1>VISUALIZAR</h1>
        </div>
        <div class="col-4 mauto pt-3 pb-2 text-center">
            <a href="/" class="btn btn-info">VOLTAR</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mauto pt-2 pb-2 text-center">
            {{ carro.marca }} <br>
            {{ carro.modelo }} <br>
            {{ carro.ano }} <br>
        </div>
    </div>
</body>

</html>